/* Establece los valores de margen y relleno en 0 para todos los elementos de la página, y 
utiliza la propiedad box-sizing para que el ancho y alto de los elementos incluyan el relleno y el borde */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Establece una imagen de fondo para el cuerpo de la página */
body {
  background-image: url('oxi.jpg');
}

/* Establece el ancho, el color de fondo, el relleno, el margen y el radio de borde para la caja del 
formulario, así como la familia de fuentes y el color de texto */
.caja-registro {
  width: 450px;
  background: #bbc0be85;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: 'calibri';
  color: white;
}

/* Establece el tamaño de fuente y el margen inferior para el título del formulario */
.caja-registro h4 {
  font-size: 22px;
  margin-bottom: 20px;
}

/* Establece el ancho, el color de fondo, el relleno, el margen inferior, el borde y 
la familia de fuentes para los campos de entrada del formulario, así como el color de texto */
.controls {
  width: 100%;
  background: #ffffffbb;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #96badd;
  font-family: 'calibri';
  font-size: 18px;
  color: rgb(0, 0, 0);
}

/* Establece la altura, el tamaño de fuente y la altura de línea para 
los mensajes de error del formulario */
.caja-registro p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

/* Establece el color y la decoración de texto para los enlaces dentro de la caja del formulario */
.caja-registro a {
  color: white;
  text-decoration: none;
}

/* Establece el color y la decoración de texto para los enlaces dentro de la caja del 
formulario al pasar el cursor sobre ellos */
.caja-registro a:hover {
  color: white;
  text-decoration: underline;
}

/* Establece el relleno, el margen, el tamaño de fuente, el borde, el color y el cursor 
para el botón de envío del formulario, así como un gradiente de color y una transición de posición de fondo */
.submit {
  padding: 15px 25px;
  margin: 20px;
  font-size: 16px;
  border: 2px solid rgb(52, 89, 124);
  color: white;
  cursor: pointer;
  background: linear-gradient(to right, transparent 50%, rgb(52, 89, 124) 50%);
  background-size: 200%;
  background-position: left;
  transition: background-position 0.5s;
  display:inline-block;
  text-align:center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* Establece la posición de fondo y el color de texto para el botón 
de envío del formulario al pasar el cursor sobre él */
.send-button:hover{
  background-position: right;
  color: white;
  font-weight: 700;
}